[submodule "RoboCOIN"]
	path = RoboCOIN
	url = https://github.com/FlagOpen/RoboCoin.git
	branch = main
[submodule "DataManage"]
	path = DataManage
	url = https://github.com/FlagOpen/RoboCOIN-DataManage.git
	branch = main
