[submodule "RoboCOIN"]
	path = RoboCOIN
	url = https://github.com/FlagOpen/RoboCoin.git
	branch = main
[submodule "DataManager"]
	path = DataManager
	url = https://github.com/FlagOpen/RoboCOIN-DataManager
